html body{
    background-color: #f8f8f8;
}


.counter-display {
    text-align: center;
    background: black;
    margin: 100px;
    margin-bottom: 35px;
}

.counter-display div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: #101010;
    color: white;
    padding: 10px;
    margin: 3px;
}


/* -- button styling --*/

.button-container {
    /* text-align: center; */
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
}

.button-container button {
    margin-left: 5px;
    border: 2px solid #000;
    /* border-radius: 5px; */
    background-color: #f0f0f0;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

.button-container button:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.button-container button:active {
    background-color: #d0d0d0;
    transform: scale(0.96);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}


/* -- input styling --  */

input {
    width: 100px;
    padding-right: 8px;
    background-color: #f0f0f0;
    border: 2px solid #000;
    font-weight: bold;
    text-align: right;
    direction: rtl;
}

input:hover {
    background-color: #e0e0e0;
}

input:active {
    background-color: #d0d0d0;
    border-radius: 0px;
}